.settings-button {
    background-color: #2251B1;
    color: #fff;
    border: none;
  }
  
  .settings-button:hover {
    background-color: #1a3d8f;
    color: #fff;
  }
  

  .delete-button {
    background-color: #E0E0E0;
    color: #000;
    border: none;
  }
  
  .delete-button:hover {
    background-color: #bdbdbd;
    color: #000;
  }

  .no-decoration {
    text-decoration: none;
  }
  

  